از کتابخانه پانداز برای مدیریت دیتا استفاده شده است

In [1]:
import pandas as pd
import copy

دیتا به صورت یک فایل سی اس وی ذخیره شده است 
از آدرس مورد نظر دیتا را برمیداریم

In [2]:
df = pd.read_csv("Boors.csv")
df

      Namad     Value   Profit
0    vlsapa   6012037   560000
1      nori  15011070   240000
2      kala   3066057    95000
3      pizd   5090040    41000
4      sita   2500306   114900
5    sharom  17736990  1700000
6      ghzr   1030063   750000
7      brkt  14700090   117000
8     shsta  23061070   890000
9     abada   4000520   137000
10  daraykm  11800530   578000
11     aria  19040100   635680

یک ستون ارزش بر وزن اضافه میکنیم

In [3]:
df['Profit/Value'] = df.Profit/df.Value
df

      Namad     Value   Profit  Profit/Value
0    vlsapa   6012037   560000      0.093146
1      nori  15011070   240000      0.015988
2      kala   3066057    95000      0.030984
3      pizd   5090040    41000      0.008055
4      sita   2500306   114900      0.045954
5    sharom  17736990  1700000      0.095845
6      ghzr   1030063   750000      0.728111
7      brkt  14700090   117000      0.007959
8     shsta  23061070   890000      0.038593
9     abada   4000520   137000      0.034246
10  daraykm  11800530   578000      0.048981
11     aria  19040100   635680      0.033386

بر اساس ستون ارزش بر وزن دیتاها را سورت میکنیم

In [4]:
df = df.sort_values(by='Profit/Value')
df

      Namad     Value   Profit  Profit/Value
7      brkt  14700090   117000      0.007959
3      pizd   5090040    41000      0.008055
1      nori  15011070   240000      0.015988
2      kala   3066057    95000      0.030984
11     aria  19040100   635680      0.033386
9     abada   4000520   137000      0.034246
8     shsta  23061070   890000      0.038593
4      sita   2500306   114900      0.045954
10  daraykm  11800530   578000      0.048981
0    vlsapa   6012037   560000      0.093146
5    sharom  17736990  1700000      0.095845
6      ghzr   1030063   750000      0.728111

داده های سورت شده را در سه آرایه ذخیره میکنیم

In [5]:
values = df.Value.values 
profits = df.Profit.values
symbol = df.Namad.values

مقدار سرمایه اس که داریم در متغیر فاند ذخیره شده

In [6]:
fund = 100000000

 دیتاها برای الگوریتم حرصانه براساس ارزش بر وزن مرتب سازی شده بودند بر همین اساس به ترتیب مجموع وزن ها را چک میکینم تا جایی که از سرمایه ما بیشتر نشود و در نهایت به ترتیب مقدار سرمایه مورد نیاز و بیشترین سود ممکن و سهام های خریده شده به ما گفته میشود

In [7]:
def greedy():
    max_value = 0
    max_profit = 0
    symbols = []
    for i in range(0,12):
        if (max_value + values[i]) < fund:
            max_value += values[i]
            max_profit += profits[i]
            symbols.append(symbol[i])

    print('greedy_value= ' , max_value)
    print('greedy_profit= ' , max_profit)
    print('greedy_symbols=' , symbols)

In [8]:
greedy()

greedy_value=  99299846
greedy_profit=  3598580
greedy_symbols= ['brkt', 'pizd', 'nori', 'kala', 'aria', 'abada', 'shsta', 'sita', 'daraykm', 'ghzr']

در الگوریتم عقبگرد به ترتیب ماکسیمم وزن یا همان سرمایه ما و لیست وزن و لیست سود و تعداد سهام ها و نمادها را به تابع میدهیم

In [9]:
def Backtracking(fund,values,profits,n,symbols):
    if(fund == 0 or n == 0):
        return [0,[]]
    if(values[n-1] > fund):
        return Backtracking(fund,values,profits,n-1,symbols)
    select_node = Backtracking(fund-values[n-1],values,profits,n-1,symbols)
    not_select_node = Backtracking(fund,values,profits,n-1,symbols)
    if(select_node[0]+profits[n-1] > not_select_node[0]):
        select_node[1].append(symbols[n-1])
        select_node[0] += profits[n-1]
        return select_node
    else:
        return not_select_node

اجرای عقبگرد مقدار سود و سهام های خریداری شده در این الگوریتم را به راه به ما میدهد

In [10]:
BT = Backtracking(fund,values,profits,12,symbol)
print('Backtracking_profit= ' , BT[0])
print('Backtracking_symbols= ' , BT[1])

Backtracking_profit=  5563580
Backtracking_symbols=  ['nori', 'kala', 'aria', 'shsta', 'sita', 'daraykm', 'vlsapa', 'sharom', 'ghzr']

برای الگوریتم پویا دو تابع نوشته شده که ماکسیمم سود را به ما میدهد با این تفاوت که در اولی یک جدول 100000000 در 12 درست میکند ولی دومی فقط یک آرایه به طول 100000000 درست میکند که در هر صورت چون طول آرایه بسیار بزرگ میشود زمان اجرا بسیار برای این داده ما زیاد است

In [13]:
def Dynamic(Wightknapsack, wightvalue, value, items):
    length = len(items)
    K = [[0 for x in range(Wightknapsack + 1)] for x in range(length + 1)]
    for i in range(length + 1):
        for wight in range(Wightknapsack + 1):
            if i == 0 or wight == 0:
                K[i][wight] = 0
            elif wightvalue[i-1] <= wight:
                K[i][wight] = max(value[i-1] + K[i-1][wight-wightvalue[i-1]],  K[i-1][wight])
            else:
                K[i][wight] = K[i-1][wight]
    return [K[length][Wightknapsack]]

In [14]:
Dynamic(fund,values,profits,12)

12

[5563580]

In [15]:
def knapSack(W, wt, val, n):
    dp = [0 for i in range(W+1)]  # Making the dp array
 
    for i in range(1, n+1):  # taking first i elements
        for w in range(W, 0, -1):  # starting from back,so that we also have data of
                                # previous computation when taking i-1 items
            if wt[i-1] <= w:
                # finding the maximum value
                dp[w] = max(dp[w], dp[w-wt[i-1]]+val[i-1])
 
    return dp[W]  # returning the maximum value of knapsack

In [17]:
knapSack(fund,values,profits,12)

5563580